.container--pall {
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}
.articles {
  background-color: hsl(0, 0%, 98%);
}

.articles-header {
    font-size: 1.5em;
    font-style: italic;
    margin-bottom: 0;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 25px;
}
.article-header__logo img {
    height: 4rem;
    border-radius: 10px;
}
     
.article__grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.875rem;
  border-radius: 15px;
  padding:20px;
  margin-top: 20px;
}
@media (min-width: 40em) {
  .article__grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .article__text {
    padding: 1.875rem 1.5625rem;
  }
}
@media (min-width: 64em) {
  .container--pall {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
  .article__grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
.article__item {
  background-color: hsl(0, 0%, 100%);
  border-radius: 0.3125rem;
  overflow: hidden;
  box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.15);
}  
.article__image {
  height: 12.5rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.article__text {
  padding: 1.875rem 1.875rem 2.5rem 1.875rem;
}
.article__author {
  font-size: var(--20px);
  margin-bottom: 0.75rem;
}
.article__published {
  font-size: var(--18px);
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.article__title {
  font-size: var(--font-size-l);
  height: auto;
  line-height: 1.2;
  text-wrap: pretty;
  hyphens: auto;
  word-break: normal;
}
.article__description {
  padding-top: 25px;
  text-wrap: pretty;
  hyphens: auto;
  word-break: normal;
  overflow-wrap: break-word;
}

.article__link {
  text-align: center;
}
.article__next {
  background-image: linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
  padding: 20px;
  text-align: right;
  width: 100%;
  border-radius: 10px;
}
.article__next a:hover {
  border-bottom: 1px solid;
  background: #CDFEAA;
  border-radius: 10px;
  padding: 5px;
} 
button, .button {
  display: inline-block;
  padding: 0.875rem 2.1875rem;
  background-image: linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
  border: 0;
  border-radius: 50px;
  cursor: pointer;
  color: hsl(0, 0%, 100%);
  font-weight: 500;
  font-size: 1.5rem;
  transition: opacity 300ms ease-in-out;
}
button::before, .button::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.25);
  opacity: 0;
  transition: opacity 150ms ease-in-out;
}
button:hover::before, .button:hover::before {
  opacity: 1;
}
