.topnav {
    overflow: hidden;
    background-color: lightseagreen;
    border-radius: 1em;
    font-family: Roboto, Arial, serif;
    font-size: 1em;
}
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 2em;
    transition: opacity 0.15s;
}
.topnav a:hover {
    background-color: #ddd;
    color: black;
    border-radius: 1em;
    transition: opacity 0.15s;
}
.topnav a.active {
    background-color: darkcyan;
    color: white;
    border-radius: 1em;
    transition: opacity 0.15s;
}
.topnav .icon {
    display: none;
}
header {
    border-radius: 1em;
    border-width: 1px;
    padding: 1em;
    text-align: center;
    box-shadow: 0 0 1em burlywood;
    background-color: #fad7a0;
    color: #ffffff;
    max-width: 100%;
    height: auto;
}
.logo{
    float:left;
}
.parna-logo {
    float: right;
}
.page-title {
    display: flex; 
    flex-direction: row;
}
.page-title-left {
    padding-left: 30px;
}
.page-title-center {
    flex: 1;
}
.page-title-right {
    padding-right: 30px;
}