/* 
    Created on : Aug 18, 2024, 7:07:03 PM
    Author     : peter
*/
* {
    margin: 0px;
    padding: 0px;
    border: 0px;
    color: #000044;
}
body{
    font-size: 12px; /* base size*/
    text-align: left;
    font-family: Arial, "Arial CE", sans-serif;
    line-height: 2.2em;
    background-image: url("../images/HeartPillows1.jpg");
    background-repeat: repeat;
    background-position: top left;
    background-attachment: fixed;
}
h1, h2, h4, h5, h6{
    color: #2e7f78;
    padding: 1.0em 0em 1.0em 0em;
} 
h1{
    font-size: 2em;
}
h2{
    font-size: 1.5em;
    font-style: italic;
}
h1{
    font-size: 1.2em;
}
body > div {
    width: 100em;
    margin: 0 auto;
    text-align: left;
}
header, footer {
    opacity: 0.75;
    border-radius: 1em;
    background-color: #50daf4;
    padding: 1em;
    text-align: center;
    box-shadow: 0 0 1em white;
}
header {
    margin: 2em auto 1em auto;
    height: 13em;
}
footer {
    margin: 0.5em auto 1em auto;
    color: blue;
    font-size: 1.5em;
}
header > h1{
    color: white;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}
a:hover{
    color: red;
}
main {
    min-height: 40em;
    /*width: 53em;*/
    opacity: 0.95;
    border-radius: 1em;
    background-color: #eeeef3;
    padding: 1em;
    margin-bottom: 1em;
    box-shadow: 0.5em 0.5em 0.5em #004;
    font-size: 2em;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
/*  background-color: #333333;*/
}

li {
  float: left;
  margin-left: 82px;
}

ul li a {
  text-decoration: none;
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  font-size: 22px;
  font-family: Arial;
  font-weight:  bold;
  font-style: italic;
  transition: 0.4s ease-in-out;
}
body p {
    text-align: justify;
    font-size: 1.2em;
}
ul#benefits {
    display: block;
    list-style-type: disc;
}   
div#title h1{
    color: blue;
    margin: 0;
    padding: 20px;
    border: 0;
    font-family: Arial;
    font-style: italic;
    font-weight: bold;
    font-size: 3em;
    background-repeat: no-repeat;
   }
div#title h2{
    color: blue;
    margin: 0;
    padding: 0;
    border: 0;
    font-family: Arial;
    font-style: italic;
    font-weight: bold;
    font-size: 2.0em;
    background-repeat: no-repeat;
   }
h3 a{
    color: maroon;
   }   
div#title h3{
    margin: 20px;
    padding: 0;
    border: 0;
    font-family: Arial;
    font-style: italic;
    font-weight: bold;
    font-size: 2.0em;
    background-repeat: no-repeat;
   }
nav{
    height: 5.5em;
/*    position: fixed;*/
    margin-bottom: 1em;
    width: 98em;
    padding: 2em;
    top: 7em;
    opacity: 0.85;
    border-radius: 1em;
    background-color: #ccccd8;
    box-shadow: 0.5em 0.5em 0.5em #004;
    display: flex;
    justify-content: left;
    align-items: center;
}
.wrapper1{
    margin: 150px auto;
    width: 70%;
}
.text-box{
    
}
#affect{
    text-align: center;
    margin: 0;
    width: 47em;
}
.fa {
  padding: 10px;
  font-size: 15px;
  width: 15px;
  text-align: center;
  text-decoration: none;
  margin: 5px 0px;
  border-radius: 40%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}
blockquote {
    text-align: center;
    font-size: 40px;
    line-height: 100%;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 40px;
    margin-inline-end: 40px;
}