/* Slideshow container */
        .slideshow-container {
            position: relative;
            background: #f1f1f1f1;
            border-radius: 12px;
            background-color: blanchedalmond;
            /* height: auto; */

        }
        .swiper-slide {
           height: auto;
        }
        .slide-header {
            font-size: 1.9em;
            font-style: italic;
            margin-bottom: 0;
            text-align: center;
            padding-top: 5px;
            padding-bottom: 25px;
        }
        /* Slides */
        .mySlides {
            padding: 20px 20px;
            text-align: center;
            margin-top: 0;
            line-height: 1.4em;
        }
        .quote-datum {
            text-align: left;
            padding-bottom: 50px;
            padding-top: 10px;
            padding: 0;
            color: #2d7b73;
            /* font-size: clamp(1rem, -0.875rem + 8.333333vw, 1.85rem); */
            font-style: italic;
            font-family: 'Playfair','Times New Roman', Times, serif;
        }
        .quote-text {
            padding-top: 25px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-family: 'Playfair','Times New Roman', Times, serif;
            text-wrap: balance;
        }    
        .author {
            color: darkcyan;
            margin-bottom: 0;
            padding-top: 20px;
        }

        .greeting {
            padding-top: 10px;
            margin: 0;
            font-style: italic;
        }
@media screen and (max-width: 600px) {
    .mySlides {
        display: none;
        padding: 20px;
        text-align: center;
        margin-top: 0;
        line-height: 1.4em;
        height: auto;
    }
    .quote-datum {
        font-size: var(--19px);
        text-align: center;
    }
    .quote-text {
        font-size: var(--20px);
    }
    .greeting {
        font-size: var(--20px);
        text-align: center;
    }
    .author {
        font-size: var(--20px);
        text-align: center;
    }
}